{% extends 'base.html' %}
{% load static %}


{% block title %}
{{car.name}}
{% endblock %}

{% block content %}
<div class=" d-flex justify-content-center mb-3 mt-5">
	<h1 class="text-light font-brand">{{car.name}}</h1>
</div>
<div class="px-0 px-md-5 row overflow-visible d-flex me-3">
<div class="col-lg-7 col-12">
<div id="carouselExampleIndicators" class="container-fluid carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    {% for img in imgs %}
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{img.N}}" aria-label="Slide {{img.N}}"></button>
    {% endfor %}
  </div>
  <div class="rounded carousel-inner ratio ratio-16x9">
    
    <div class="carousel-item active">
      <img src="{{ car.main_image.url }}" class="d-block w-100 car-img" alt="...">
    </div>
    {% for img in imgs %}
    <div class="carousel-item">
      <img src="{{img.image.url}}" class="d-block w-100 car-img" alt="...">
    </div>
    {% endfor %}

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>
<div class=" ms-md-4 ms-5 px-0 my-3 fs-1 fw-semilight ">
  <p class="mx-0 text-uppercase fs-6">
    <span class="brand-color">Мощность </span>{{car.power}} <span class="px-3">&nbsp;</span>
    <span class="brand-color">Разгон до 100 км/ч </span>{{car.acceleration}} <span class="px-3">&nbsp;</span>
    <span class="brand-color">Привеод </span> {{car.wd}} <span class="px-3">&nbsp;</span>
    <span class="brand-color">Год Выпуска </span> {{car.year}}
  </p> 
</div>
</div>
    
	<div class="sticky d-flex col-lg-5 col-12 p-5 flex-column align-items-center">
		<h3>Стоимость за сутки</h3>
    <div class="font-brand container-fluid d-flex justify-content-center bg-dark p-3 m-2 rounded-3 blue-shd"><h4>30 000 ₽</h4></div>
    <div class="font-brand container-fluid d-flex justify-content-center bg-dark p-3 m-2 rounded-3 blue-shd"><h4>30 000 ₽</h4></div>
    <div class="font-brand container-fluid d-flex justify-content-center bg-dark p-3 m-2 rounded-3 blue-shd"><h4>30 000 ₽</h4></div>
    <button class="text-lite justify seld center btn btn-primary m-2"><h3>Арендовать</h3></button>	
  </div>
</div>
<div class="col-7 m-5 font-brand d-flex">
<pre class=" fs-4" style="white-space:pre-wrap; ">{{car.discription}}</pre>
</div>
<br><br><br><br>
{% endblock %}