<footer class="bg-dark text-white p-3">
	<div class="container-fluid">
		<p class="lead text-center">Copyright &copy; 2022 FIRST MOTORS CLUB</p>
	</div>
</footer>
<footer class="container-fluid row fixed-bottom mb-3 d-flex justify-content-between d-md-none">
	<a href="https://api.whatsapp.com/send?phone=+79261041820" class="container rounded-circle bg-success d-flex align-items-center d-flex justify-content-center text-white" style="width: 100px; height: 100px; margin-left: 30px;">
		<span class="material-icons-outlined" style="font-size: 60px;">whatsapp</span>
	</a>
	
	<a href="tel:+79261041820" class="container rounded-circle bg-primary d-flex align-items-center d-flex justify-content-center text-white" style="width: 100px; height: 100px; margin-right: 0px;">
		<span class="material-icons-outlined" style="font-size: 60px;">call</span>
	</a>
</footer>