a {
	text-decoration: none !important;
}

.crop {
    width: auto;
    height: auto;
    overflow: hidden;
}

.sticky {
  position: sticky;
  top: 150px;
}

.crop img {  
    width: 100%;
    height: auto;
    margin: -30px px 0px 0px;
}
.brand-color{
    color: #81abcf ;
}
.bg-car {
    background-image: url('car_title.png');
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
  }

.bg-brandcolor {
    background-color: #0a100c;
  }

.car-img {
    object-fit: cover;
}

.font-brand{
    font-family:"IBM";
}

.black-shd{
    box-shadow: 0 0 200px #000000;
}

.blue-shd{
    box-shadow: 0 0 3px #0B5ED7;
}

@font-face{
    font-family: "IBM";
    src: url("IBMPlexSerif-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "ROBOTO";
    src: url("Roboto-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}
